{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/libs/bootstrap.css"/>
    <link rel="stylesheet" href="css/libs/font-awesome.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/popper.js"></script>
    <script src="js/libs/bootstrap.js"></script>

    {% block styles %}{% endblock %}
{% endblock %}

{% block header %}
    <header>
{#        <nav class="navbar navbar-expand-lg navbar-light header" style="background-color: #e3f2fd;">#}
        <nav class="navbar navbar-expand-md navbar-light text-white bg-white header" style="background-color: #f8f8f8 !important;">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="https://balun.info"><img class="cross" border="0" alt="" src="images/logo.png"></a>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('config_filter') }}">Настройки<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Google Play</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('google_all_scraper') }}">Листинг DB<span class="sr-only">(current)</span></a>
                            <a class="dropdown-item" href="{{ path('google_stat') }}">Отслеживание<span class="sr-only">(current)</span></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">App Store<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}


