{% extends 'default.html.twig' %}

{% block title %}{{ meta.title }}{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h3 class="top-indent-header">{{ data }}</h3>
    </div>
{% endblock %}
